*{
    margin: 0px;
}

html {
    height: 100%;
}

body {
    background-color: rgb(185, 187, 186);
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

form {
    background-color: aquamarine;
}

.form-wrapper {
    background-color: white;
    padding: 10px;
    border-radius: 8px;

}